
/* STYLE SECTIONING TAGS */

*{
  margin: 0px;
  padding: 0px;
}

/* other color #f51 */

body {
 background-color: 
#f0eddb;
  justify-content: space-between
}

header{
  padding-top: 1em;
  background-color: 
#a4d5cb;
  color:  
navy;
  text-align: right;
  width: 100%;
  padding-bottom: 1em;
}

.Portfolio {
  text-align: center;
  padding-bottom: 0.5em;
}

#title{
  font-weight: 300 px;
  font-size: 4em;
}

#header1{
  font-weight: 300 px;
  font-size: 2.5em;
}

.home {
  max-width: 20em;
  max-height: 20em;
  margin-left: 20%;
  border: 0.5em solid 
navy;
  margin: auto;
  }

footer {
  text-align: center;
  margin-top: 1em;
  padding: 1.5em;
  background-color:
#a4d5cb;
  color:
navy;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerPic {
  width: 10em;
  height: 15em;
  border: 0.5em solid 
white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 1em;
}

img {
  display: block;
  margin: 5%;
  margin-left: 50px;
  max-width: 300px;
  max-height: 400px;
  padding: 1 em;
}


main{
  color: black;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* STYLE TEXT */
h1{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h4{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color:  navy;
}

#name{
  font-weight: 300 px;
  font-size: 4em;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}

#adjectives{
  font-style: initial;
  font-size: 2.5em;
  font-family: 'Abhaya Libre', Times New Roman, Times, serif;
  margin: auto;
}

#quote{
  font-size: 2em;
  : oblique;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}




/* STYLE IMAGES */

/* STYLE NAV BAR */
ul{
  list-style-type: none;
  background-color:navy;
  overflow: hidden;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center
}

li{
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  margin-top: 3em;
  padding: 3em;
  text-align: center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover{
  background-color: #75caf5;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5em;
  align-items: flex-start;
  align-content: flex-start;
  padding-bottom: 3em;
}

.ver-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5em;
  align-items: center;
  align-content: flex-start;
  padding-bottom: 3em;
  flex-wrap: wrap;
}
