Skip to content


AI




Saina's Website



Upgrade



Publish

Files



Commands
Search
Config files
/* STYLE SECTIONING TAGS */

*{
  margin: 0px;
  padding: 0px;
}

/* other color #f51 */

body {
 background-color: 
#f0eddb;
  justify-content: space-between
}

header{
  padding-top: 1em;
  background-color: 
#a4d5cb;
  color:  
navy;
  text-align: right;
  width: 100%;
  padding-bottom: 1em;
}

.Portfolio {
  text-align: center;
  padding-bottom: 0.5em;
}

#title{
  font-weight: 300 px;
  font-size: 4em;
}

#header1{
  font-weight: 300 px;
  font-size: 2.5em;
}

.home {
  max-width: 20em;
  max-height: 20em;
  margin-left: 20%;
  border: 0.5em solid 
navy;
  margin: auto;
  }

footer {
  text-align: center;
  margin-top: 1em;
  padding: 1.5em;
  background-color:
#a4d5cb;
  color:
navy;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerPic {
  width: 10em;
  height: 15em;
  border: 0.5em solid 
white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 1em;
}

img {
}
Preview
Preview

Scroll to latest
Saina's Website - Replit
